In [1]:
import os
import sys

In [2]:
os.chdir("..")
sys.path.append(os.getcwd())

In [3]:
os.getcwd()

'/home/cjellen/sources/github/ndbc-api'

In [4]:
from ndbc_api import NdbcApi

In [5]:
api = NdbcApi()

In [6]:
api.stations()

,Station,Hull No./Config and Location,Location Lat/Long,Wind Speed,Wind Direction,Sea Level Pressure,Wave Height,Dominant Period,Air Temp,Water Temp,Dew Point,Remark
0,41001,3D90 (SC) East Hatteras,34.70N 72.23W,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Transmissions ceased 12/18/23.
1,41002,3DV33 (SC) South Hatteras,31.75N 74.93W,100,100,100,100,100,100,99,100,NaN
2,41004,3DV02 (SC) Edisto,32.50N 79.08W,100,100,100,98,98,100,98,100,NaN
3,41008,3D36 (SC) Grays Reef,31.40N 80.85W,100,100,100,100,100,100,99,77,All data is intermittent after 8/18/23.
4,41009,3D65 (SC) Canaveral,28.50N 80.18W,100,100,100,100,100,100,99,100,Water temperature ceased 3/25/23. Air temperat...
...,...,...,...,...,...,...,...,...,...,...,...,...
35,SRST2,"(MA) Sabine Pass, Tx",29.68N 94.03W,99,99,99,No sensor installed.,No sensor installed.,99,No sensor installed.,Sensor/system failure.,Dewpoint intermittent due to frequent supersat...
36,STDM4,"(SU) Stannard Rock, Mi",47.18N 87.22W,100,100,Sensor/system failure.,No sensor installed.,No sensor installed.,Sensor/system failure.,No sensor installed.,Sensor/system failure.,Barometric pressure failed 7/1/20. Air tempera...
37,TPLM2,"(MA) Thomas Point, Md",38.88N 76.43W,99,99,99,No sensor installed.,No sensor installed.,99,Sensor/system failure.,Sensor/system failure.,Water temperature sensor removed 07/14/22. Dew...
38,VENF1,"(AR) Venice, Fl",27.07N 82.45W,99,99,99,No sensor installed.,No sensor installed.,99,99,99,NaN
39,WPOW1,"(MA) West Point, Wa",47.65N 122.43W,100,100,100,No sensor installed.,No sensor installed.,100,No sensor installed.,100,NaN

In [7]:
api.get_modes()

['adcp',
 'cwind',
 'ocean',
 'spec',
 'stdmet',
 'supl',
 'swden',
 'swdir',
 'swdir2',
 'swr1',
 'swr2']

In [8]:
df_stdmet_tplm2 = api.get_data(
    'tplm2',
    'stdmet',
    '2020-01-01',
    '2022-01-01',
    as_df=True
)

In [9]:
df_stdmet_tplm2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17280 entries, 2020-01-01 00:00:00 to 2022-01-01 00:00:00
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WDIR    17255 non-null  float64
 1   WSPD    17280 non-null  float64
 2   GST     17280 non-null  float64
 3   WVHT    0 non-null      float64
 4   DPD     0 non-null      float64
 5   APD     0 non-null      float64
 6   MWD     0 non-null      float64
 7   PRES    17278 non-null  float64
 8   ATMP    17278 non-null  float64
 9   WTMP    17280 non-null  float64
 10  DEWP    14715 non-null  float64
 11  VIS     0 non-null      float64
 12  TIDE    0 non-null      float64
dtypes: float64(13)
memory usage: 1.8 MB

In [10]:
df_stdmet_tplm2.head(3).T

timestamp  2020-01-01 00:00:00  2020-01-01 01:00:00  2020-01-01 02:00:00
WDIR                     188.0                273.0                286.0
WSPD                       6.1                  6.0                  4.7
GST                        6.2                  6.9                  5.6
WVHT                       NaN                  NaN                  NaN
DPD                        NaN                  NaN                  NaN
APD                        NaN                  NaN                  NaN
MWD                        NaN                  NaN                  NaN
PRES                    1006.1               1006.8               1007.3
ATMP                       9.5                  9.3                  8.7
WTMP                       6.6                  6.6                  6.5
DEWP                      -0.3                 -0.6                 -1.4
VIS                        NaN                  NaN                  NaN
TIDE                       NaN                  NaN                  NaN